<h1><mat-icon>info</mat-icon> About <mat-icon>info</mat-icon></h1>
<br>
<div>
<p>
    KFC Israel was founded in 1991 as a part of the global and famous company - KFC.<br>
    Since then many KFC stores were built in Israel in major cities such as:<br>
    Tel Aviv, Haifa, Jerusalem, Rishon Lezion, Ashdod, Ashkelon and more...<br>
</p>
</div>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/7L9GnkEY9Rk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

